{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "",
    "^react$",
    "^react",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/assets(.*)$",
    "^@/components(.*)$",
    "^@/hooks(.*)$",
    "^@/contexts(.*)$",
    "^@/constants(.*)$",
    "^@/gql(.*)$",
    "^@/lib(.*)$",
    "^@/utils(.*)$",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$",
    "",
    "<TYPES>",
    "<TYPES>^[.]"
  ]
}
